### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### GNOMEShellExtension template
# Ignored files for GNOME extension git repository

*.zip

### MacOS template
# MacOS specific files
.DS_Store
.AppleDouble
.LSOverride
